.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
*.db

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Local env
.env
.env.*

# Web
node_modules/
dist/
